/* Scrollbar */

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #E6E6E6; 
}
::-webkit-scrollbar-thumb {
  background: var(--bs-primary); 
}
::-webkit-scrollbar-thumb:hover {
  background: #003147; 
}

/* Barra de navegación */
body {
  position: relative;
}

#navbar {
  position: fixed;
  top: 10;
  margin-top: 20px;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 2000;
}

.barra-navegacion { 
  background-color: rgba(242, 242, 242, 0.95);
  border-radius: 8px;
}

.active {
  font-weight: 500;
}

/* Contenedores alto completo */

.bg-container {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
  z-index: 0;
}

.container-vh {
  height: 100vh;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1050;
}

/* Sección sobre mi */

.info-skill {
  border-left: 1px solid var(--bs-gray);
  margin-bottom: 0;
}

/* Portafolio */

.tablist {
  border-bottom: 1px solid var(--bs-gray);  
}

.project {
  position: relative;
}

.project-img {
  display: block;
  width: 100%;
  height: 100%;
}

.project-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 49, 71, 0.9);
}

.project:hover .project-overlay {
  opacity: 1;
}

.project-text {
  color: var(--bs-white);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.project-text a {
  color: rgba(242, 242, 242, 0.7);
  font-size: 1.1rem;
  text-decoration: none;
  transition: var(--ease);
}

.project-text a:hover {
  color: rgba(242, 242, 242, 1);
  text-decoration: none;
  transition: var(--ease);
}

.mobile-project{
  background-color: #f2f2f2;
  border-radius: 0px 0px 8px 8px;
}


/* Contacto */

.social-media a {
  font-size: 2.5rem;
}

/* Footer */

.footer {
  background-color: #003147;
}

.footer, .footer a {
  color: rgba(242, 242, 242, 0.5);
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  transition: var(--ease);
}

.footer a:hover {
  color: rgba(242, 242, 242, 1);
  transition: var(--ease);
}

/* Proyectos */
.container-80-vh {
  height: 80vh;
}

.container-50-vh {
  width: 100%;
  height: 50vh;
}

.highlight {
  background-color:rgba(242, 242, 242, 0.8);
}

.highlight-body {
  background-color:rgba(0, 90, 114, 0.2);
  padding: 0px 3px;
}

.bg-parallax {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-projects {
  background: linear-gradient(180deg, #005A72 0%, #003147 100%);
}

.nav-projects a {
  color: rgba(242, 242, 242, 0.7);
  transition: var(--ease);
}

.nav-projects a:hover {
  color: rgba(242, 242, 242, 1);
  transition: var(--ease);
}

.info-text {
  border-left: 1px solid var(--bs-gray);
}

.color {
  width: 70px;
  height: 70px;
  border-radius: 4px;
}

/* Ajustes adicionales de personalización */

/* Resaltado de texto */

::-moz-selection { 
  background: rgba(0, 90, 114, 0.2);;
}

::selection {
  background: rgba(0, 90, 114, 0.2);;
}

@media (max-width: 991.98px) { 
  .container-vh {
    height: 50vh;
  }

  .bg-container {
    background-position: top;
  }
 }

@media (max-width: 575.98px) { 
  .nav-projects a {
    font-size: 14px;
  }
  .nav-projects :nth-child(2) {
    font-size: 20px;
  }
}