/*In this file are set the css configuration for recipe cards corresponding to recipes page*/
/*settings for banner hero (section 2)*/
#banner-hero{
    padding-left: 10%;
    padding-right: 10%;
    height: 420px;
    min-height: 200px;
    margin-top: -80px;
    background-image: url("../img/recetas-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
#subtitle-text{
    margin-top: -80px;
    text-align: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.25px;
    color: #0B190B;
    width: 100%;
    background-color: rgba(248, 248, 247, 0.5);
}
/*settings for filter area (section 3)*/
#filter-container{
    margin: 60px 0;
}
#filter-btn{
    display: flex;
    gap: 10px;
}
#filter-bar{
    display: flex;
    background-color: #F3F3F3;
    width: 1220px;
    height: 150px;
    margin-top: 1%;
    padding: 3%;
}
.filter-displayed{
    margin-top: 20px;
    padding: 60px 40px;
    gap: 50px;
    display: flex;
    background-color: #F3F3F3;
    border-radius: 2%;
    align-items: center;
}
.filter-inputs{
    display: flex; 
    gap: 50px;
    align-items: center;
}
.filter-hidden{
    display: none;
}
.filter-displayed button{
    padding: 8px 12px;
    position: absolute;
    right: 200px;
}
.filter-input{
    margin-left: -30px;
    border-radius: 5px;
    padding: 2px 5px;
}

/*settings for page contain*/
#page-contain{
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
}
#recipes{
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-gap: 30px;
    text-align: center;
}

/*Responsive adjustments for tablet version*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .filter-displayed{
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
    .filter-inputs{
        align-content: flex-start;
        justify-content: flex-start;
    }
    .filter-displayed button{
        position: relative;
        right: 0px;
    }
}
/*Responsive adjustments for mobile version*/
@media screen and (max-width: 767px) {
    .filter-displayed{
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
    .filter-inputs{
        align-content: flex-start;
        justify-content: flex-start;
    }
    .filter-displayed button{
        position: relative;
        right: 0px;
    }
}